<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CloudinaryCloudName" value="dozf7mhsv" />
		<add key="CloudinaryApiKey" value="513691812545443" />
		<add key="CloudinaryApiSecret" value="g832A0TwgJ60icPbrMAodnzyvjE" />

		<add key="SmtpServer" value="smtp.gmail.com" />
		<add key="SmtpPort" value="587" />
		<add key="SmtpUsername" value="buildingmanagement77@gmail.com" />
		<add key="SmtpPassword" value="iuha zxky zobw ejdv" />
		<add key="SenderEmail" value="buildingmanagement77@gmail.com" />
		<add key="SenderName" value="Traffic Violation System" />
	</appSettings>
</configuration>